<h4 class="text-center">Login</h4>

<form action="" class="form md-4" (ngSubmit)="login()" #loginForm="ngForm">
  <div class="form-group mb-2">
    <input
      type="text"
      class="form-control"
      placeholder="Nome do usuário"
      [(ngModel)]="usuario"
      name="usuario"
      required
      #campoUsuario="ngModel"
      >

      <app-mensagem *ngIf="campoUsuario.invalid && campoUsuario.touched" mensagem="Usuário obrigatório"></app-mensagem>
  </div>

  <div class="form-group mb-2">
    <input
      type="password"
      class="form-control"
      placeholder="Senha"
      [(ngModel)]="senha"
      #campoSenha="ngModel"
      required
      name="senha">

      <app-mensagem *ngIf="campoSenha.invalid && campoSenha.touched" mensagem="Senha obrigatória"></app-mensagem>
  </div>

  <div class="d-grid gap-2">
    <button type="submit" class="btn btn-block btn-primary" [disabled]="loginForm.invalid">Login</button>
  </div>
</form>